<html>
<body>
    <h1>Félicitations !</h1>
    <h3>Vous avez installé un serveur Web !</h3>
    {% for server in groups['web'] %}
{{ hostvars[server]['ansible_hostname'] }} {{ hostvars[server]['ansible_default_ipv4']['address'] }} - memoire libre: {{ hostvars[server]['ansible_memory_mb']['real']['free'] }} Mb<br>
    {% endfor %}
</body>
</html>